<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spendwise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".SpendwiseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Spendwise"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spendwise.NoActionBar">

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="false"/>
        <activity android:name=".SignUpActivity" android:exported="false"/>
        <activity android:name=".ForgotPasswordActivity" android:exported="false"/>
        <activity android:name=".DashboardActivity" android:exported="false"/>
        <activity android:name=".TransactionsActivity" android:exported="false"/>
        <activity android:name=".BudgetActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".AddTransactionActivity" android:exported="false"/>
        <activity android:name=".AddBudgetActivity" android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.spendwise.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
